---
import Layout from "../layouts/Layout.astro";
import { type Lang, useTranslations } from "../i18n/utils";
import LinkButton from "../components/LinkButton.astro";
import organisations from "../data/organisations.json";
import SoftwareCatalogIsland from "../components/SoftwareCatalogIsland";
import { type PubliccodeYml, type Software } from "../types/software";
import yaml from "js-yaml";

const apiBaseUrl = import.meta.env.API_BASEURL || "http://localhost:3000/v1";
const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);

let softwares: Software[] = [];

try {
  const url = `${apiBaseUrl}/software?page[size]=10000`;
  const response = await fetch(url);
  if (!response.ok) throw new Error(`HTTP ${response.status}`);
  const data = await response.json();
  const rawSoftwares = data.data ?? [];
  
  softwares = rawSoftwares.map((software: Software) => {
    try {
      const publiccode = yaml.load(software.publiccodeYml) as PubliccodeYml;
      
      return {
        ...software,
        publiccode,
        
      };
    } catch (e) {
      console.error(`Failed to parse publiccodeYml for software ${software.id}`, e);
      return {
        ...software,
        publiccode: null,
      };
    }
  });
  
  // Sort by name, then by organisation uri
  softwares.sort((a, b) => {
    const nameComparison = a.publiccode?.name.localeCompare(b.publiccode?.name);
    if (nameComparison !== 0) return nameComparison;
    return a.publiccode?.organisation?.uri.localeCompare(b.publiccode?.organisation?.uri)
  });
} catch (e) {
  console.error("failed to load softwares", e)
  softwares = [];
}
---

<Layout>
  <section class="section section--default bg--secondary-50">
    <div class="container">
      <h1 class="section__title">
        {t("index.title")}
      </h1>
      <h2 class="section__subtitle">{t("index.subtitle")}</h2>
      <div class="search search--large search--page-result">
        <div class="search__group">
          <input
            id="search-input"
            type="search"
            aria-labelledby="search-button"
            placeholder={t('index.search')}
            autocomplete="off"
          />
          <button
            type="button"
            class="btn btn--bare btn--lg btn--icon-only"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24" class="icon icon--3xl icon--Search"><path xmlns="http://www.w3.org/2000/svg" d="m13.3 12.8c1.9-2.2 1.7-5.6-.5-7.5s-5.6-1.7-7.5.5-1.7 5.6.5 7.5c2 1.7 4.9 1.7 6.9 0l6 6 .5-.5zm-4 1c-2.5 0-4.5-2-4.5-4.5s2-4.5 4.5-4.5 4.5 2 4.5 4.5-2 4.5-4.5 4.5z"></path></svg>
            <span class="btn__text" id="search-button">{t('index.search')}</span>
          </button>
        </div>
        <div class="search__filters">
          <button
            type="button"
            class="btn btn--bare btn--sm btn--icon-left"
            aria-label="false"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon--base icon--ChevronDown btn__icon"><path xmlns="http://www.w3.org/2000/svg" d="m5.706 10.015 6.669 3.85 6.669-3.85.375.649-7.044 4.067-7.044-4.067z"></path></svg>
            <span class="btn__text">Filter anzeigen</span>
          </button>
        </div>
        <div class="filters__active"></div>
      </div>
      <div class="section__action">
        <LinkButton
          href="https://swiss.github.io/publiccode-editor/"
          text={t("index.publiccode")}
        />
      </div>
    </div>
  </section>
  <section class="section section--default">
    <SoftwareCatalogIsland
      client:load
      lang={lang}
      organisations={organisations}
      softwares={softwares}
    />
  </section>
</Layout>
