---
import Layout from "../layouts/Layout.astro";
import { type Lang, useTranslations, toFullLocale } from "../i18n/utils";
import LinkButton from "../components/LinkButton.astro";
import organisations from "../data/organisations.json";
import SoftwareCatalogIsland from "../components/SoftwareCatalogIsland";
import { type PubliccodeYml, type Software } from "../types/software";
import yaml from "js-yaml";

const apiBaseUrl = import.meta.env.API_BASEURL || "http://localhost:3000/v1";
const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);

let softwares: Software[] = [];

try {
  const url = `${apiBaseUrl}/software?page[size]=10000`;
  const response = await fetch(url);
  if (!response.ok) throw new Error(`HTTP ${response.status}`);
  const data = await response.json();
  const rawSoftwares = data.data ?? [];
  
  // Parse publiccodeYml and enrich software objects with name
  softwares = rawSoftwares.map((software: Software) => {
    try {
      const publiccode = yaml.load(software.publiccodeYml as unknown as string) as PubliccodeYml; 
      
      return {
        ...software,
        publiccode,
        
      };
    } catch (e) {
      console.error(`Failed to parse publiccodeYml for software ${software.id}`, e);
      return {
        ...software,
        publiccode: null,
      };
    }
  });
  
  // Sort softwares by name and organisationUri
  softwares.sort((a, b) => {
    const orgComparison = a.publiccode?.organisation?.uri.localeCompare(b.publiccode?.organisation?.uri);
    if (orgComparison !== 0) return orgComparison;
    return a.publiccode?.name.localeCompare(b.publiccode?.name);
  });
} catch (e) {
  console.error("failed to load softwares", e)
  softwares = [];
}

const dateLocale = toFullLocale(lang);
const buildDate = new Date();
const buildDateFormatted = `${buildDate.toLocaleDateString(dateLocale, {
  day: "2-digit",
  month: "2-digit",
  year: "numeric",
})} ${buildDate.toLocaleTimeString(dateLocale, {
  hour: "2-digit",
  minute: "2-digit",
})}`;
---

<Layout>
  <section class="section bg--secondary-50">
    <div class="container">
      <div class="text--xs color--text-600">{t("header.lastUpdated")}: {buildDateFormatted}</div>
      <h1 class="section__title">
        {t("index.title")}
      </h1>
      <h2 class="section__subtitle">{t("index.subtitle")}</h2>

      <div class="card">
        <div class="card__body">
          {t("index.description")}
        </div>
      </div>
      <div class="section__action">
        <LinkButton
          href="https://swiss.github.io/publiccode-editor/"
          text={t("index.publiccode")}
        />
      </div>
    </div>
  </section>
  <section class="section section--default">
    <SoftwareCatalogIsland
      client:load
      lang={lang}
      organisations={organisations}
      softwares={softwares}
    />
  </section>
</Layout>
