---
import TopHeader from "../components/TopHeader.astro";
import TopBar from "../components/TobBar.astro";
import { type Lang, useTranslations } from "../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
const impressumUrl = getRelativeLocaleUrl(Astro.currentLocale as Lang, "impressum");

// Use Astro's base path - works in all environments
const base = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang={lang}>
  <head>
    <link rel="stylesheet" href={`${base}/cd-bund-1.0.35.css`} />
    <meta charset="UTF-8" />
    <base href={base} />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href={`${base}apple-touch-icon.png`} />
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href={`${base}favicon-128x128.png`}
    />
    <link rel="icon" type="image/png" sizes="32x32" href={`${base}favicon-32x32.png`} />
    <link rel="icon" type="image/png" sizes="16x16" href={`${base}favicon-16x16.png`} />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="generator" content={Astro.generator} />
    <title>{t("index.title")}</title>
  </head>
  <body>
    <header id="main-header">
      <a href="#main-content" class="skip-to-content">{t("index.skip")}</a>
      <TopBar />
      <TopHeader />

      <div class="desktop-menu"></div>
      <div class="mobile-menu"></div>
      <div class="breadcrumb"></div>
    </header>

    <main id="main-content">
      <slot />
    </main>
    <footer id="main-footer" class="footer">
      <div class="bg--secondary-700">
        <nav class="container" aria-label="Footer">
          <ul class="footer-navigation">
            <li>
              <a href={t('footer.legal.link')} class="footer__link" target="_blank">
                {t("footer.legal")}
              </a>
            </li>
            <li>
              <a href={impressumUrl} class="footer__link">{t("footer.impressum")}</a>
            </li>
            <li>
              <a class="footer__link" href={`https://www.bk.admin.ch/bk/${Astro.currentLocale}/home/digitale-transformation-ikt-lenkung/bundesarchitektur/open_source_software/hilfsmittel_oss.html`} target="_blank">
                {t('footer.tools')}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
