---
import yaml from "js-yaml";
import { getYear } from "date-fns";
import GithubLogo from "./GithubLogo.astro";
import LinkButton from "./LinkButton.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';
import { type Lang, resolveLanguage, useTranslations } from "../i18n/utils";

const { software } = Astro.props;
const content = yaml.load(software.publiccodeYml);
const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
const detailPageUrl = getRelativeLocaleUrl(lang, "softwares/" + software.id);
const availableLanguages = Object.keys(content.description);
const description = content.description[resolveLanguage(lang, availableLanguages)];

---

<style>
  .card__content-icons {
    margin: 0.75rem 1rem;
  }
</style>
<div class="card card--default" has-icon="false" data-org={content.organisation?.uri}>
  <div class="card__content">
    <div class="card__body">
      <p class="meta-info">
        {
          content.releaseDate && (
            <span class="meta-info__item">{getYear(content.releaseDate)}</span>
          )
        }
        {
          content.softwareVersion && (
            <span class="meta-info__item">{content.softwareVersion}</span>
          )
        }
        {
          content.legal?.license && (
            <span class="meta-info__item">{content.legal?.license}</span>
          )
        }
      </p>
      <div class="card__title">
        <h2>{content.name}</h2>
      </div>
      <p>
        {description?.shortDescription}
      </p>
    </div>
    <div class="card__footer">
      <div class="card__footer__info">
        <a href={software.url} target="_blank" aria-label={t('software.source')}><GithubLogo /></a>
      </div>
      <div class="card__footer__action">
        <LinkButton href={detailPageUrl} text={t("software.more")} />
      </div>
    </div>
  </div>
</div>
